@media (max-width: 1200px) {
    header {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }
            }
        }
    }
    .slider {
        .carousel-control-prev {
            left: 0;
        }
        .carousel-control-next {
            right: 0;
        }
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 57.50%;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 85px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        z-index: 999;
        left: 0px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 52.50%;
    }
    .cta {
        .wrap {
            flex-wrap: wrap;
            justify-content: center;
            p {
                margin-bottom: 2rem;
                text-align: center;
            }
        }
    }
    .blogs .card .content .read-more {
        justify-content: flex-start;
    }
    .services {
        .img-wrap {
            img {
                margin-bottom: 3rem;
            }
        }
    }
    section {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    section.fw {
        padding-left: 0;
        padding-right: 0;
    }
    .mobile-btn {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
    .recent-projects {
        .sec-heading {
            text-align: center;
        }
    }
    .mt-mobile {
        margin-top: 6rem;
    }
    .about-features {
        .misson {
            margin-top: 4rem;
        }
    }
    .products .card {
        margin-bottom: 5rem;
    }
    .blogs .card {
        margin-bottom: 6rem;
    }
    .contact {
        iframe {
            margin-bottom: 4rem;
        }
    }
}

@media (max-width: 580px) {
    .top-header {
        .right {
            display: none;
        }
        .wrap {
            justify-content: center;
        }
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .col-xs-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}