@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;700;800;900&display=swap");
:root {
  --primary-color: #d43d27;
}

html {
  font-size: 62.50%;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  font-size: 1.6rem;
  line-height: 28px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid var(--primary-color);
  border-radius: 0;
  padding: 9px 28px;
  margin-bottom: 1rem;
}

.btn-primary:hover {
  background-color: #000;
  border-color: #000;
}

.btn-primary.white {
  border-color: #fff;
  color: #fff;
  background-color: transparent;
}

.btn-primary.white:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.btn-secondary {
  font-size: 16px;
  font-weight: 500;
  background-color: var(--primary-color);
  font-weight: 400;
  border-color: var(--primary-color);
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.text-right {
  text-align: right;
}

.line {
  background-color: var(--primary-color);
  height: 3px;
  width: 100px;
  display: block;
  margin: 0 auto 30px;
}

.line.left {
  margin-left: 0;
}

.full-image img {
  height: 100%;
}

.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

.top-header {
  background-color: var(--primary-color);
  padding: 1rem;
}

.top-header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.top-header .wrap a {
  color: #fff;
  font-weight: 200;
  font-size: 15px;
}

.top-header .wrap a:hover {
  color: var(--primary-color);
}

header .navbar-brand img {
  max-width: 21rem;
}

header .navbar-nav {
  margin-left: auto;
  margin-right: 0;
}

header .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: 500;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Barlow', sans-serif;
}

header .navbar-nav .nav-item .nav-link:hover {
  color: var(--primary-color);
}

header .dropdown-menu {
  min-width: 15rem;
  padding: 2rem 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 1px 4px 20px 0px #0000006b;
          box-shadow: 1px 4px 20px 0px #0000006b;
  border-bottom: 4px solid var(--primary-color);
}

header .dropdown-menu li a {
  font-size: 1.5rem;
  padding: 5px 10px;
}

.slider {
  position: relative;
  min-height: 100vh;
}

.slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .carousel-item {
  min-height: 800px;
  position: relative;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slider .carousel {
  position: relative;
}

.slider .carousel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000b5;
  z-index: 1;
}

.slider .content-wrap {
  position: relative;
  color: #fff;
  z-index: 10;
  display: none;
}

.slider .carousel-caption {
  position: absolute;
  right: 0;
  bottom: 1.25rem;
  left: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: left;
  z-index: 9;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider .carousel-caption h5 {
  font-size: 7rem;
  color: #fff;
  font-weight: 600;
  line-height: 8rem;
  margin-bottom: 2rem;
}

.slider .carousel-caption p {
  font-size: 21px;
}

.slider .btn-wrap {
  margin-top: 4rem;
}

.slider .btn-wrap .btn:first-child {
  margin-right: 2rem;
}

.slider .carousel-control-prev {
  left: -50px;
}

.slider .carousel-control-next {
  right: -50px;
}

.sec-heading {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.col-heading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.heading-top {
  font-size: 19px;
  margin-bottom: 1.3rem;
  color: var(--primary-color);
  font-weight: 500;
}

.sec-sep {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.sec-sep .top-heading {
  margin-bottom: 4rem;
}

.arrow-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.arrow-icon img {
  width: 20px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next {
  right: 30px;
}

.swiper-button-prev {
  left: 30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.our-services .card {
  border: 0;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.our-services .card::before {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.our-services .card .title {
  position: absolute;
  bottom: 40px;
  z-index: 1;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 4rem;
}

.our-services .card .title h3 {
  font-size: 2.2rem;
}

.our-services .card .title h3 a {
  color: #fff;
  text-decoration: none;
}

.our-services .card .title h3 a:hover {
  color: var(--primary-color);
}

.recent-projects .card {
  position: relative;
  border: 0;
}

.recent-projects .card::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.recent-projects .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 20px 20px 30px 30px;
}

.recent-projects .content h3 {
  font-size: 2.5rem;
  line-height: 3.8rem;
}

.recent-projects .content .category {
  text-transform: uppercase;
}

.cta {
  background-color: var(--primary-color);
  color: #fff;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.cta p {
  font-size: 3.2rem;
  margin: 0;
  font-weight: 500;
  line-height: 4rem;
}

.cta .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogs .card {
  border: 0;
  margin-bottom: 3rem;
}

.blogs .card .image {
  position: relative;
}

.blogs .card .image .date {
  background-color: var(--primary-color);
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  font-size: 16px;
  position: absolute;
  bottom: 0;
}

.blogs .card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .card .content {
  margin-top: 2rem;
}

.blogs .card .content .title {
  font-size: 2.5rem;
}

.blogs .card .content .post-desc {
  color: #6d6d6d;
  font-size: 15px;
  line-height: 25px;
  margin-top: 2rem;
}

.blogs .card .content .post-date {
  font-style: italic;
  margin-bottom: 25px;
}

.blogs .card .content .author a {
  text-decoration: none;
  color: #5d5d5d;
}

.blogs .card .content .read-more {
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: 20px;
  position: relative;
}

.blogs .card .content .read-more::before {
  content: '';
  position: absolute;
  bottom: -3px;
  width: 83px;
  height: 2px;
  background-color: var(--primary-color);
}

.our-partners img {
  opacity: 0.2;
}

.quick-contact {
  background-color: #272D2E;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.quick-contact .left {
  margin-right: 20px;
}

.quick-contact img {
  max-width: 48px;
}

.quick-contact .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto;
}

.quick-contact .wrap .title {
  display: block;
  color: #80888A;
  letter-spacing: 2px;
  line-height: 22px;
  font-weight: 400;
}

.quick-contact .wrap p,
.quick-contact .wrap a {
  font-size: 24px;
  line-height: 36px;
  padding: 0;
  color: #FFF;
  font-weight: 300;
  text-decoration: none;
  margin: 0;
}

.about h4 {
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.about .content-wrap {
  max-width: 500px;
}

.testimonial {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 490px;
}

.testimonial::before {
  content: "";
  position: absolute;
  visibility: visible;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 59, 64, 0.4);
  z-index: 1;
}

.testimonial .wrap {
  position: relative;
  z-index: 10;
  max-width: 900px;
  margin: auto;
}

.testimonial p {
  font-weight: 200;
  font-size: 24px;
  color: #FFF;
  line-height: 40px;
}

.testimonial .icon {
  margin-bottom: 3rem;
}

.testimonial .icon img {
  width: 32px;
}

.testimonial .name {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 6rem auto 0;
  position: relative;
  padding-top: 1rem;
}

.testimonial .name::before {
  content: '';
  position: absolute;
  top: -5px;
  height: 2px;
  background-color: #fff;
  width: 6%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer {
  background-color: #343C3E;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

footer img {
  margin-bottom: 2rem;
}

footer p {
  color: #a5a5a5;
}

footer .widget {
  margin-bottom: 3rem;
}

footer .menu {
  margin: 0;
  padding: 0;
}

footer .menu li {
  list-style-type: none;
  margin-bottom: 1rem;
}

footer .menu li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
}

footer .title {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

footer strong {
  font-weight: 500;
  color: #fff;
}

footer .address p {
  color: #fff;
  font-weight: 200;
}

footer .address p a {
  text-decoration: none;
  color: #fff;
}

footer .copyright {
  color: #ffff;
  margin-top: 4rem;
  font-weight: 200;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown-menu {
  font-size: 1.3rem;
}

.dropdown-menu.show {
  -webkit-animation: fadeIn 0.3s alternate;
  /* Safari 4.0 - 8.0 */
  animation: fadeIn 0.3s alternate;
}

.nav-item.dropdown.dropdown-mega {
  position: static;
}

.nav-item.dropdown.dropdown-mega .dropdown-menu {
  width: 90%;
  top: auto;
  left: 5%;
}

.navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler .hamburger-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  z-index: 11;
  float: right;
}

.navbar-toggler .hamburger-toggle .hamburger {
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  pointer-events: none;
}

.navbar-toggler .hamburger-toggle .hamburger span {
  width: 100%;
  height: 4px;
  position: absolute;
  background: #333;
  border-radius: 2px;
  z-index: 1;
  -webkit-transition: background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  left: 0px;
}

.navbar-toggler .hamburger-toggle .hamburger span:first-child {
  top: 10%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate(0% -50%) !important;
          transform: translate(0% -50%) !important;
}

.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.navbar-toggler .hamburger-toggle .hamburger span:last-child {
  left: 0px;
  top: auto;
  bottom: 10%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.navbar-toggler .hamburger-toggle .hamburger.active span {
  position: absolute;
  margin: 0;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
  top: 45%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
  left: 50%;
  width: 0px;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
  top: 45%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .slider .carousel-item {
    min-height: 600px;
  }
  .slider .carousel-caption h5 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .slider .carousel-caption p {
    font-size: 18px;
  }
  .slider .carousel-control-next,
  .slider .carousel-control-prev {
    display: none;
  }
  .sec-sep {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.page-title {
  background-size: cover;
  min-height: 30rem;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-title h2 {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  position: relative;
  line-height: 7rem;
}

.teams .card {
  border: 0;
  margin-bottom: 5rem;
}

.teams .card .image {
  margin-bottom: 2rem;
}

.teams .card .name {
  font-size: 2rem;
  font-weight: 500;
}

.teams .card .desc {
  padding-top: 1rem;
  font-size: 1.5rem;
}

.overlay-bg {
  position: relative;
}

.overlay-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000075;
}

.card {
  border: 0;
}

.feature .card {
  text-align: center;
  margin-bottom: 5rem;
}

.feature .card img {
  max-height: 70px;
  margin-bottom: 2rem;
}

.feature .card .title {
  font-weight: 600;
  font-size: 1.8rem;
}

.feature .card .desc {
  font-size: 1.5rem;
}

.subheading {
  max-width: 1000px;
  margin: 0 auto 5rem;
}

.about-features p {
  max-width: 440px;
}

.row-spacing {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.blogs .card {
  margin-bottom: 5rem;
}

.blogs .card .featured-img {
  position: relative;
}

.blogs .card .heading {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 3.2rem;
}

.blogs .card .heading a {
  color: inherit;
}

.blogs .card .heading a:hover {
  color: var(--primary-color);
}

.blogs .card .category {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.blogs .card .date {
  background-color: var(--primary-color);
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  font-size: 16px;
  position: absolute;
  bottom: 0;
}

.blogs .card .featured-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .card .read-btn {
  font-size: 15px;
  padding: 0;
  color: var(--primary-color);
  text-transform: uppercase;
  display: block;
  text-align: left;
  margin-top: 2rem;
}

.page-link {
  color: #000000;
}

.sidebar {
  max-width: 300px;
  margin: auto;
}

.sidebar .widget {
  margin-bottom: 4rem;
}

.sidebar .widget .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidebar .widget .search input {
  height: 51px;
  font-size: 14px;
}

.sidebar .widget .search .btn {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 0;
  height: 51px;
  left: 2px;
  font-size: 16px;
  width: 53px;
}

.sidebar .widget .title {
  margin-bottom: 4rem;
  position: relative;
}

.sidebar .widget .title::before {
  content: '';
  position: absolute;
  bottom: -12px;
  width: 21%;
  height: 2px;
  background-color: var(--primary-color);
}

.sidebar .widget ul {
  list-style-type: none;
  padding: 0;
}

.sidebar .widget ul li {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 14px;
}

.sidebar .widget ul li a {
  color: #000;
}

.sidebar .widget ul li a:hover {
  color: var(--primary-color);
}

.sidebar .widget .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sidebar .widget .tags li {
  margin-bottom: 2rem;
  text-transform: initial;
}

.sidebar .widget .tags li a {
  border: 1px solid #000;
  padding: 8px;
  margin-right: 1rem;
  margin-bottom: 1rem !important;
}

.content-block p {
  margin-bottom: 2rem;
}

.social-share {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-share li {
  margin-right: 1rem;
}

.float-right {
  float: right !important;
}

.contact .card {
  border: 1px solid #d2d2d2;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 40px;
  min-height: 210px;
}

.contact .card img {
  max-width: 35px;
  margin-bottom: 2rem;
}

.contact .card .title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.social-links li {
  margin-right: 1.5rem;
}

.social-links li i {
  color: #ababab;
  font-size: 17px;
}

.form-control {
  padding: 13px;
  font-size: 14px;
  margin-bottom: 2.5rem;
}

select.form-control {
  color: #797979;
  font-weight: 400;
}

.faqs .accordion-item {
  margin-bottom: 2rem;
  border: 1px solid #dadada;
}

.faqs .accordion-button {
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  padding: 20px;
}

.faqs .accordion-body p {
  font-size: 15px;
}

.faqs .accordion-button:not(.collapsed) {
  color: var(--primary-color);
}

.products .card {
  text-align: center;
  margin-bottom: 3rem;
}

.products .card .image {
  position: relative;
  margin-bottom: 2rem;
}

.products .card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 231px;
}

.products .card .image .back-img {
  position: absolute;
  top: 0;
  opacity: 0;
}

.products .card .image:hover .back-img {
  opacity: 1;
}

.products .card a {
  color: #000;
}

.products .card a:hover {
  color: var(--primary-color);
}

.bg {
  background-color: #00000014;
}

.portfolio .filters ul {
  padding: 0;
}

.portfolio .filters ul li {
  list-style: none;
  display: inline-block;
  padding: 20px 20px;
  cursor: pointer;
  position: relative;
  font-size: 19px;
  font-weight: 500;
}

.portfolio .filters ul li.active {
  color: var(--primary-color);
}

.portfolio .filters ul li.active::after {
  width: calc(100% - 40px);
  background-color: var(--primary-color);
}

.portfolio .filters ul li::after {
  content: "";
  display: block;
  width: calc(0% - 40px);
  position: absolute;
  height: 2px;
  background: #333;
  -webkit-transition: width 350ms ease-out;
  transition: width 350ms ease-out;
}

.portfolio .filters ul li:hover:after {
  width: calc(100% - 40px);
  -webkit-transition: width 350ms ease-out;
  transition: width 350ms ease-out;
}

.portfolio .filters-content .show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

.portfolio .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

.portfolio .filters-content .item {
  margin-bottom: 60px;
}

.portfolio .filters-content .item .category {
  font-size: 15px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.portfolio .filters-content .item img {
  width: 100%;
  margin-bottom: 2rem;
}

.portfolio .filters-content .item .heading {
  font-size: 20px;
  font-weight: 600;
}

.portfolio .filters-content .item .heading a {
  color: inherit;
}

.portfolio .filters-content .item .heading a:hover {
  color: var(--primary-color);
}

.project-meta {
  padding-top: 4rem;
  border-bottom: 1px solid #bbb;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}

.project-meta h2 {
  font-size: 23px;
  line-height: 32px;
}

.project-meta .title {
  font-weight: 600;
  font-size: 18px;
}

.sorting {
  max-width: 190px;
  margin-left: auto;
}

.variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.variants div {
  width: 60px;
  height: 60px;
  background-color: #fff;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.variants div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.faq-categories {
  border: 1px solid #ddd;
}

.faq-categories .title {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  font-weight: 300;
}

.faq-categories ul {
  padding: 2rem;
  list-style-type: none;
}

.faq-categories ul li {
  color: #000;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.faq-categories ul li a {
  color: inherit;
}

.faq-categories ul li a:hover {
  color: var(--primary-color);
}

.faq-categories ul li ul {
  list-style-type: initial;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */